@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-jetbrains-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.217 0.026 290.923);
  --foreground: oklch(0.905 0.031 289.589);
  --muted: oklch(0.266 0.018 291.993);
  --muted-foreground: oklch(0.708 0.03 292.497);
  --popover: oklch(0.189 0.02 291.185);
  --popover-foreground: oklch(1 0 180);
  --card: oklch(0.198 0.022 291.087);
  --card-foreground: oklch(0.958 0.014 289.978);
  --border: oklch(0.275 0.019 291.971);
  --input: oklch(0.304 0.022 291.914);
  --primary: oklch(0.905 0.031 289.589);
  --primary-foreground: oklch(0.335 0.13 280.504);
  --secondary: oklch(0.319 0.067 285.741);
  --secondary-foreground: oklch(0.858 0.032 289.543);
  --accent: oklch(0.35 0.052 290.307);
  --accent-foreground: oklch(0.884 0.02 292.88);
  --destructive: oklch(0.636 0.198 25.575);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.905 0.031 289.589);
  --chart-1: oklch(0.905 0.031 289.589);
  --chart-2: oklch(0.319 0.067 285.741);
  --chart-3: oklch(0.35 0.052 290.307);
  --chart-4: oklch(0.343 0.074 285.622);
  --chart-5: oklch(0.903 0.033 289.547);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.217 0.026 290.923);
  --foreground: oklch(0.905 0.031 289.589);
  --muted: oklch(0.266 0.018 291.993);
  --muted-foreground: oklch(0.708 0.03 292.497);
  --popover: oklch(0.189 0.02 291.185);
  --popover-foreground: oklch(1 0 180);
  --card: oklch(0.198 0.022 291.087);
  --card-foreground: oklch(0.958 0.014 289.978);
  --border: oklch(0.275 0.019 291.971);
  --input: oklch(0.304 0.022 291.914);
  --primary: oklch(0.905 0.031 289.589);
  --primary-foreground: oklch(0.335 0.13 280.504);
  --secondary: oklch(0.319 0.067 285.741);
  --secondary-foreground: oklch(0.858 0.032 289.543);
  --accent: oklch(0.35 0.052 290.307);
  --accent-foreground: oklch(0.884 0.02 292.88);
  --destructive: oklch(0.636 0.198 25.575);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.905 0.031 289.589);
  --chart-1: oklch(0.905 0.031 289.589);
  --chart-2: oklch(0.319 0.067 285.741);
  --chart-3: oklch(0.35 0.052 290.307);
  --chart-4: oklch(0.343 0.074 285.622);
  --chart-5: oklch(0.903 0.033 289.547);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
